.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.acid          { background: green; }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64); }
.enemy	{ background: red;}
.rain	{ background: blue;}
.drip	{ background: green;}
.spike	{ background: grey;}
.horizontal{ background: yellow;}
/*
.shooter{ background: orange;}
.jump	{ background: purple;}
.fast	{ background: yellow;}
.spike	{ background: grey;}
*/
.game {
  overflow: hidden;
  max-width: 1280px;
  max-height: 720px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
